#middle-info-content {
    display: flex;
    justify-content: center;
    /* border: 2px black solid; */
    min-height: 90vh;
    background-color: whitesmoke;
    margin: 0 auto;
}

#content-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    max-width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    /* border: 5px cyan solid; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: rgb(45, 43, 43);
    padding-bottom: 10%;
}

#info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px red solid; */
}

#photo-block {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    /* border: 2px red solid; */
}

#greeting-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    color: whitesmoke;
    font-size: 100%;
    /* border: 2px solid red; */
}

#description-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px black solid; */
}

#profile-photo {
    border: 2px whitesmoke solid;
    width: 50%;
    border-radius: 50%;
}

#profile-description, #status-description {
    font-style: italic;
    text-align: center;
    color: whitesmoke;
    padding: 10px;
    font-size: 150%;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    #content-block {
        max-width: 90%;
    }
}