#footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 15vh;
    overflow: hidden;
    /* min-width: 14rem; */
    background-color: rgb(126, 126, 122);
    border: 5px solid purple;
}

#copyright-info, #further-info, #email-contact {
    font-size: 1.5rem;
    color: white;
}