* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    border: 10px solid seagreen;
    background-color: rgb(20, 29, 116);
    height: 100%;
}

#name-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px red solid; */
}

#name {
    /* border: 2px solid red; */
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 3rem;
}

#nav-bar {
    display: flex;
}

#about, #resume, #projects, #contact {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 2rem 1.5rem 2rem 1.5rem;
}

#about:hover, #resume:hover, #projects:hover, #contact:hover {
    background-color: rgb(205, 24, 211);
}

#about, #resume, #projects{
    border-right: 2px white solid;
}